body {
    margin-top: 0px;
    background-color: black;
}

.admin-wrapper {
    background-color: azure;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    height: 750px;
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 100%;
    background-color: #326FB4;
}

.userprofile {
    color: white;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-color: black;
}
.user-picture {
    width: 80px;
    height: 80px;
    background-color: white;
    margin: 40px 0 10px 10px;
    float: left;
    border-radius: 50%;
}

.user-name {
    padding:0;
    margin:0;
    color:white;
    font-size: 14px;
    font-weight: bold;
    padding-top: 60px;
    margin-right: 5px;
    float:right;
}

.admin-wrapper .left-sidebar .navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.admin-wrapper .left-sidebar .navbar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 2px solid green;
    text-decoration: none;

}

.admin-wrapper .left-sidebar .navbar ul li a:hover {
    background-color: white;
}

.log-btn {
    width: 150px;
    height: 150px;
    margin: auto;

}

.log-btn p {
    margin: 50px 50px;
}

.admin-wrapper .admin-content {
    position: relative;
    flex: 8;
    height: 100%;
    background-color: #FFFFFF;
    padding: 0px;
    overflow: scroll;
}

.top-header {
    position: fixed;
    width: 810px;
    height: 100px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: cornflowerblue;
}

.top-header h1 {
    margin: 30px 170px;
}
.top-header .ou-logo {
    float: right;
    margin: 25px 40px;
}

.admin-content p {
    width: 88%;
    position: absolute;
    top: 130px;
    left: 5px;
    right: 5px;
    padding: 40px;
}

.button-group {
    width: 400px;
    height: auto;
    margin: 150px 60px;
}

.btn-button-group {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.btn-button-group:hover {
    background-color: black;
    color: #FFFFFF;
}

.table-admin-content {
    width: 100%;
    position: absolute;
    top: 230px;
    left: 0px;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid green;
}

.edit {
    color: #4CAF50;
    text-decoration: none;
}

.delete {
    color: red;
    text-decoration: none;
}

.publish {
    color: blue;
    text-decoration: none;
}

.edit:hover,
.delete:hover,
.publish:hover {
    text-decoration: underline;
}